.display-flex {
  display: flex;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100px;
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.header-of-page {
  background-color: blue;
}

.navigation-of-page {
  background-color: aquamarine;
}

.content-of-page {
  height: 300px;
  /* background-color: brown; */
}

.bao-ni-long-boc-2-class {
  width: 80%;
  height: 300px;
}

section {
  height: 150px;
  background-color: cadetblue;
}

article {
  height: 150px;
  background-color: chartreuse;
}

aside {
  width: 20%;
  height: 300px;
  background-color: darkgoldenrod;
}