.h-400{
    height: 500px !important;
  width: 1290px;

}
.h-200{
    height: 300px !important;

}
.with{
    width: 200px;
    height: 700px;
}
/* .navbar{
    overflow: hidden;
} */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:aquamarine;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: deepskyblue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  /* .content {
    padding: 25px;
  } */